/* CSS for the profile header */

body > header {
  position: relative;
  /* margin-top: 80px; */
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/bright-squares.png');
  background-color: rgba(131, 65, 21, 0.787);
}

#header-username {
  margin: 0;
}

#header-profile-photo {
  position: absolute;
  width: 128px;
  left: 50%;
  transform: translate(-50%, 50%);
}
