body > header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/bright-squares.png');
  background-color: rgba(131, 65, 21, 0.787);
}

body > header h2 {
  margin: 0;
}