/* Styling for the profile header */

body > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  width: 100%;
  background-image: url('/images/cartographer.png');
  background-color: rgba(95,158,160, 0.6)
}

#profile-hex {
  width: 160px;
}

#header-profile-photo {
  position: absolute;
  width: 80px;
  left: 50%;
  transform: translate(-50%, 50%);
}

#header-username {
  margin: 0;
}

body > header br {
  display: none;
}