/* CSS for the overall document layout */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: scroll;
}

 main {
   width: 90%;
   margin: 0 auto;
 }
