/* CSS for the tweet submission form */

.new-tweet {
  display: none;
}

.new-tweet > form {
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
}

#tweet-text {
  width: 100%;
  margin: 1em 0;
  background-color: transparent;
  border-width: 0 0 4px 0;
  resize: none;
  overflow: auto;
}

#tweet-text:focus{
  outline-width: 0;
}

.new-tweet > form div {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
}

.new-tweet > form button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

#error-box {
  height: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  color: red;
  font-weight: 600;
}