/* CSS for displayed tweets */

.tweet {
  margin: 2em 0;
  padding: 1em;
  border: 4px solid rgb(118, 118, 118);
}

.tweet header {
  display: flex;
  align-items: center;
}

.tweet header img {
  width: 64px;
}

.tweet .username {
  margin-left: 0.5em;
}

.tweet .user-handle {
  margin-left: auto;
  display: none;
}

.tweet p {
  border-bottom: 4px solid rgb(118, 118, 118);
  padding-bottom: 0.5em;
  word-wrap: break-word;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tweet .time-since-post {
  font-size: 0.75em;
  display: inline-flex;
  align-items: center;
}

.tweet .icons {
  display: inline-flex;
  align-items: center;
}

.tweet .icons svg {
  margin-left: 0.5em;
}

.tweet:hover {
  box-shadow: 10px 10px rgba(64,86,161,0.2);
  font-weight: 600;
}

.tweet:hover .user-handle {
  display: unset;
  opacity: 0.5;
}

.tweet:hover svg {
  stroke-width: 3;
}